<tr>
  <td><%= userI.username %></td>
  <td><%= userI.adminText %></td>
  <td><a class='bttn' href="/userlist/<%= userI.username %>/ban">ban</a></td>
  <td padding: 30px><a class='bttn' href="/userlist/<%= userI.username %>/grant">grant</a> / <a class='bttn' href="/userlist/<%= userI.username %>/remove">remove</a></td>
</tr>
